flows/fg3m-nojs.json
[
    {
        "id": "e17e8c29.777a4",
        "type": "league",
        "z": "4791e752.ab3ef8",
        "name": "",
        "league_type": "leaders",
        "season": "2018-19",
        "season_type": "Regular Season",
        "game_date": "",
        "per_mode": "Totals",
        "stat_category": "FG3M",
        "sorter": "PTS",
        "player_team": "P",
        "measure_type": "Base",
        "ahead_behind": "",
        "point_diff": "",
        "clutch_time": "",
        "group_quantity": "5",
        "pt_measure_type": "",
        "x": 460,
        "y": 80,
        "wires": [
            [
                "77cc018b.c986c"
            ]
        ]
    },
    {
        "id": "d0f31afa.34f518",
        "type": "ui_chart",
        "z": "4791e752.ab3ef8",
        "name": "",
        "group": "a292df62.ceb28",
        "order": 0,
        "width": "13",
        "height": "8",
        "label": "Top 50 Total 3PT FGM",
        "chartType": "line",
        "legend": "false",
        "xformat": "SSS",
        "interpolate": "linear",
        "nodata": "waiting for data",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "0",
        "removeOlderPoints": "10",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 840,
        "y": 160,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "d27cd6ff.24a008",
        "type": "ui_button",
        "z": "4791e752.ab3ef8",
        "name": "",
        "group": "a292df62.ceb28",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "call API",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 220,
        "y": 80,
        "wires": [
            [
                "e17e8c29.777a4"
            ]
        ]
    },
    {
        "id": "fadcd1ed.cead1",
        "type": "ui_button",
        "z": "4791e752.ab3ef8",
        "name": "",
        "group": "a292df62.ceb28",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "reset chart",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 230,
        "y": 160,
        "wires": [
            [
                "bf37b9a8.91b088"
            ]
        ]
    },
    {
        "id": "480beca5.7f7e54",
        "type": "split",
        "z": "4791e752.ab3ef8",
        "name": "split array",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 840,
        "y": 80,
        "wires": [
            [
                "834cf4b4.b886c8"
            ]
        ]
    },
    {
        "id": "77cc018b.c986c",
        "type": "change",
        "z": "4791e752.ab3ef8",
        "name": "set payload",
        "rules": [
            {
                "t": "move",
                "p": "payload.cleanedData",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 80,
        "wires": [
            [
                "480beca5.7f7e54"
            ]
        ]
    },
    {
        "id": "834cf4b4.b886c8",
        "type": "switch",
        "z": "4791e752.ab3ef8",
        "name": "if top 50",
        "property": "parts.index",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "50",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1020,
        "y": 80,
        "wires": [
            [
                "970d88aa.304dd8"
            ]
        ]
    },
    {
        "id": "970d88aa.304dd8",
        "type": "change",
        "z": "4791e752.ab3ef8",
        "name": "set chart format",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "payload.PLAYER",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "timestamp",
                "pt": "msg",
                "to": "payload.FG3M",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.FG3_PCT",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1220,
        "y": 80,
        "wires": [
            [
                "d0f31afa.34f518"
            ]
        ]
    },
    {
        "id": "bf37b9a8.91b088",
        "type": "change",
        "z": "4791e752.ab3ef8",
        "name": "reset chart",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 160,
        "wires": [
            [
                "d0f31afa.34f518"
            ]
        ]
    },
    {
        "id": "a292df62.ceb28",
        "type": "ui_group",
        "z": "",
        "name": "Chart",
        "tab": "8e292105.50c87",
        "disp": false,
        "width": "13",
        "collapse": false
    },
    {
        "id": "8e292105.50c87",
        "type": "ui_tab",
        "z": "",
        "name": "FG3M",
        "icon": "dashboard",
        "order": 1
    }
]